<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
         http://www.springframework.org/schema/task
         http://www.springframework.org/schema/task/spring-task-4.3.xsd
         http://www.springframework.org/schema/aop
		 http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-4.3.xsd
         http://www.springframework.org/schema/util
         http://www.springframework.org/schema/util/spring-util-4.3.xsd">

    <context:component-scan base-package="org.heyear.*.**" />

    <context:property-placeholder location="classpath*:/*cfg.properties" />

    <aop:aspectj-autoproxy />

    <import resource="classpath*:/*.bean.xml" />

    <context:annotation-config />

    <task:annotation-driven />


    <bean id="requestFactory"
          class="org.springframework.http.client.SimpleClientHttpRequestFactory">
        <property name="connectTimeout" value="5000" />
        <property name="readTimeout" value="65000" />
    </bean>

    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
        <property name="requestFactory" ref="requestFactory" />
    </bean>

    <!-- 支持上传文件 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 5M -->
        <property name="maxUploadSize" value="5242880"/>
    </bean>

</beans>